<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRuMUjGSZlmBqI8Ohm2ZvMQiYyHv8lHzU</string>
	<key>GCM_SENDER_ID</key>
	<string>1020382562858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NetGague.Games</string>
	<key>PROJECT_ID</key>
	<string>nauimg-524b6</string>
	<key>STORAGE_BUCKET</key>
	<string>nauimg-524b6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020382562858:ios:4f59d00ccdd8a7d8329153</string>
</dict>
</plist>